# Disable GitHub Linguist
*.m linguist-vendored
*.sh linguist-vendored
*.r linguist-vendored
*.pl linguist-vendored
*.c linguist-vendored
*.cpp linguist-vendored
*.ltx linguist-vendored
*.tex linguist-vendored
*.htm linguist-vendored
*.html linguist-vendored
*.css linguist-vendored
*.csh linguist-vendored
.old_cvsroot/* linguist-vendored
.old_mttroot_cvsroot/* linguist-vendored
gino/* linguist-vendored
mtt/* linguist-vendored
ntt/* linguist-vendored
patches/* linguist-vendored
*.p2crc linguist-vendored
*.diff linguist-vendored
*.hpp linguist-vendored
*.h linguist-vendored
*.make linguist-vendored
Makefile linguist-vendored
*.yml linguist-vendored
*.toml linguist-vendored
.github/* linguist-vendored
./* linguist-vendored
* linguist-vendored
