Source: mtt
Section: math
Priority: optional
Maintainer: Geraint <geraint@users.sf.net>
Build-Depends: debhelper (>> 3.0.0)
Standards-Version: 3.5.2

Package: mtt
Architecture: all
Depends: gawk, octave, xfig
Recommends: blas-dev, fftw-dev, c-compiler, g++, gnuplot, info-browser, lapack-dev, latex2html, libkpathsea-dev, libncurses5-dev, libreadline4-dev, pdf-viewer, postscript-viewer, octave-headers, octave-info, p2c, transfig, xterm, www-browser, wish
Suggests: scigraphica, zip
Description: Model Transformation Tools.
 A set of tools for modelling dynamic physical systems using the bond-graph
 methodology and transforming these models into representations suitable for
 analysis, control and simulation. These tools use, and generate m files for,
 GNU Octave.
 .
 mtt requires the non-free symbolic algebra tool Reduce to be installed.
 Details of Reduce can be found at http://www.uni-koeln.de/REDUCE/
