Source: mtt
Section: contrib/math
Priority: optional
Maintainer: Geraint <geraint@users.sourceforge.net>
Build-Depends: debhelper (>> 3.0.0)
Standards-Version: 3.5.2

Package: mtt
Architecture: all
Depends: gawk, octave, units, xfig, perl
Recommends: mtt-examples, blas-dev, fftw-dev, c-compiler, dia, g++, gnuplot, info-browser, lapack-dev, latex2html, libkpathsea-dev, libncurses5-dev, libreadline4-dev, libxml-dom-perl, pdf-viewer, postscript-viewer, octave-headers, octave-info, p2c, transfig, xterm, www-browser, wish
Suggests: scigraphica, zip
Description: Model Transformation Tools.
 A set of tools for modelling dynamic physical systems using the bond-graph methodology and transforming these models into representations suitable for analysis, control and simulation. These tools use, and generate m files for, GNU Octave.
 .
 The MTT homepage is located at http://mtt.sourceforge.net. An on-line manual is available at http://mtt.sourceforge.net/doc.
 .
 MTT uses the non-free symbolic algebra tool Reduce to perform some transformations and it is highly recommended that this software is installed. Details of Reduce can be found at http://www.reduce-algebra.com
 .